* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: "brandon-grotesque", Brandon Grotesque, -apple-system, sans-serif;
	font-weight: 700;
	text-align: center;
	overflow: hidden;
}
svg {
	display: inline-block;
	height: 8vmin;
	width: 8vmin;
}
.stats {
	position: relative;
	font-size: 35vmin;
}
@media (max-width: 900px) {
	.stats {
		font-size: 30vmin;
	}
}
@media (max-width: 800px) {
	.stats {
		font-size: 25vmin;
	}
}
.stats-cycling,
.stats-running,
.stats-measure {
	mix-blend-mode: multiply;
}
.stats-measure {
	font-size: 3vmin;
	text-transform: uppercase;
	letter-spacing: .3vmin;
}
.stats-cycling {
	color: #F33;
}
.stats-running {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	color: #04F;
}
.reveal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.reveal a {
	padding: 8vmin;
}
.reveal a:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -20vmin;
	height: 40vmin;
	width: 40vmin;
	border-radius: 50%;
	background: transparent;
	mix-blend-mode: multiply;
	pointer-events: none;
	transition: all .25s ease-in-out;
}
.reveal a:nth-child(1):before {
	left: -20vmin;
}
.reveal a:nth-child(2):before {
	right: -20vmin;
}
.reveal a:hover:before {
	top: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	border-radius: 0;
}
.reveal a:nth-child(1):hover:before {
	left: 0;
	background: #04F;
}
.reveal a:nth-child(2):hover:before {
	right: 0;
	background: #F33;
}
